{% extends "base.html" %}
{% block title %}
    Лента записей
    {% endblock %}
    {% block content %}
    <main>
      <div class="container py-5">
        <h1>Лента записей</h1>                        
        <!-- Перебираем в цикле все посты -->
        <hr>
        {% for postt in post reversed %}
        <article>
          <ul>
            <li>
              Место: {{ postt.location }}             
            </li>
            <li>
              Дата: {{ postt.date }}
            </li>
            <li>
              Категория: <a href="{% url 'blog:category_posts'  postt.category %}">{{ postt.category }}</a>
            </li>
          </ul>          
          <!-- Первые 10 слов -->
          <p>
            {{ postt.text|truncatewords:10 }}...
          </p>
          <a href="{% url 'blog:post_detail' postt.id %}">Читать полный текст</a>
          {% if not forloop.last %}
        </article>
        <hr>
        {% endif %}
        {% endfor %}                 
      </div>
    </main>
    {% endblock %}
